<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>No Reply Email</title>

    <style>
        h2{
            color: cornflowerblue;
        }
        a{
            background-color: cornflowerblue;
            padding: 5px;
        }

    </style>
</head>
<body>
<h2>Hello {{name}}! </h2>
<p>{{message}}.</p>
<h4>Numbers of users is increasing.</h4>
<h3><mark>Now us is {{amount}}</mark></h3>
<a href={{link}}>CLICK HERE</a>
</body>
</html>