<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>No Reply Email</title>

    <style>
        h2{
            color: cornflowerblue;
        }
        a{
            border: 1px solid cornflowerblue;
            padding: 5px;
        }

    </style>
</head>
<body>
<h2>Hello dear, {{name}}! </h2>
<p>{{message}}.</p>
<a href={{frontUrl}}>UPDATE PASSWORD</a>
</body>
</html>