<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="../layouts/layout.css";
    <title>MOVIE STUDIO</title>

</head>
<body>
    {{> _header }}
    {{{body}}}
    {{> _footer }}
</body>
</html>
